* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*** COLORS ***/
:root {  
    --clr-primary: #FF5959;
    --clr-bg1: rgba(79, 157, 166, 0.1);
    --clr-bg2: rgba(255, 89, 89, 0.1);
    --clr-bg3: #1E1E1E;
    --clr-subs: #fff4d6;
    --clr-universal: #ffffff;

    --ff-title: 'Inter', sans-serif;
    --ff-body: 'Poppins', sans-serif;
    --ff-footer: 'Lobster', cursive;
    --fw-body: 400;
    --fw-bold: 800;
}
p {
    font-size: 18px;
    line-height: 28px;
    font-family: var(--fw-body);
}
.btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--clr-universal);
    background: var(--clr-primary);
    padding: 16px 20px;
    border-radius: 5px;
    border: 0;
    margin-top: 30px;
}
/* BANNER SECTION STYLES */
.banner-container {
    background-image: url('../assets/donation15.png'),linear-gradient(360deg, #121212 17.71%, rgba(18, 18, 18, 0) 117.71%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-detail {
    width: 45%;
    text-align: center;
}
.banner-detail h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: var(--clr-universal);
    margin: 0 auto;
    font-family: var(--ff-title);
}
.banner-detail p {
    font-size: 20px;
    line-height: 32px;
    font-family: var(--ff-body);
    color: var(--clr-universal);
    padding-top: 20px;
    font-weight: var(--fw-body);
}

/* BANNER SECTION STYLES ENDS*/


/* SERVICE SECTION STYLES */
.container {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
.section-title {
    font-weight: var(--fw-bold);
    font-family: var(--ff-title);
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    padding: 128px 0 20px;
}
.section-subtitle {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--ff-title);
    line-height: 32px;
    text-align: center;
    color: #707070;
    padding-bottom: 50px;
}
.service-value {
    display: flex;
    gap: 24px;
    padding: 50px 0 130px;
    justify-content: center;
}
.service-value h2 {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 44px 24px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--clr-primary);
}
.service-amount {
    text-align: center;
    margin-bottom: 10px;
}
/* SERVICE SECTION STYLES ENDS */

/* PLAN SECTION STARTS  */
.plan-details {
    display: flex;
    gap: 24px;
    padding: 50px 0 130px;
    text-align: left;
}
.plan {
    background: var(--clr-universal);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.plan-title {
    padding: 30px 0 20px;
    font-weight: 600;
    font-size: 24px;
    font-family: var(--ff-body);
    line-height: 36px;
    color: #121212;
}
.plan .plan-description {
    font-family: 'Poppins';
    color: #707070;
    padding-bottom: 30px;
    font-size: 16px;
}
/* PLAN SECTION ENDS  */


/* CONTRIBUTE SECTION STARTS  */
.contribute {
    display: flex;
    gap: 80px;
    text-align: left;
    padding-bottom: 100px;
}
.contribute-content h1 {
    text-align: left;
    padding-top: 30px;
}
.contribute-content .subtitle {
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    font-family: var(--ff-body);
}
/* CONTRIBUTE SECTION ENDS  */


/* NEWSLATTER SECTION STARTS  */
.section-newsletter {
    padding-bottom: 130px;
}
.newsletter-form {
    background: var(--clr-subs);
}
.newsletter input {
    width: 280px;
    height: 54px;
    left: 505px;
    top: 3518px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    margin-top: 76px;
    margin-bottom: 76px;
    padding: 14px 18px;
    border: none;
}
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: var(--clr-universal);
    background: var(--clr-primary);
    padding: 16px 20px;
    border-radius: 0;
    border: none;
    margin-top: 30px;
    outline: none;
}
span {
    padding: 14px 42px;
}
/* NEWSLATTER SECTION ENDS  */


/* FOOTER SECTION STARTS  */
footer {
    background: #0B0D17;
    height: 180px;
    text-align: center;
    padding-top: 42px;
}
.footer-container h1 {
    font-family: var(--ff-footer);
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: var(--clr-primary);
}
.footer-container p {
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    font-family: var(--ff-body);
    padding-top: 24px;
}
/* FOOTER SECTION ENDS  */
